* {
    box-sizing: border-box;
}
body{
    padding: 100px;
}
.form-container {
    width: 520px;
    height: 500px;
    background-color: #13232f;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}

.tab-group {
    display: flex;
    margin-bottom: 40px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.tab:first-child {
    background-color: #1ea886;
}
.tab:first-child:hover {
    background-color: #37cca7;
}
.tab:last-child {
    background-color: #435c66;
}
.tab:last-child:hover {
    background-color: #627780;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.field-wrap {
    position: relative;
}

.label {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #475a62;
    transition: transform 0.2s ease 0s,
                font-size 0.2s ease 0s;
}

.input:not(:placeholder-shown)+.label {
    transform: translateY(25px);
    font-size: 10px;
}
.input:not(:placeholder-shown) + .label .green {
    display: none;
}

.input {
    border: 1px solid white;
    outline: none;
}

.input:focus {
    border: 1px solid #1ea886;
}



.green {
    color: #1ea886;
}

.name-wrapper {
    display: flex;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.width{
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #1ea886;
    border: none;
    margin-inline: auto;
}
.button:hover{
    background-color: #38b898;
}