@import "../normalize", "../reset";

$form-bg: #13232f;
$green-color: #1ea886;
$light-gray: #475a62;
$white: white;

*{
    box-sizing: border-box;
}
.form-container{
    width: 600px;
    height: 550px;
    background-color: $form-bg;
    padding: 40px;
}
.tab-group{
    display: flex;
    margin-bottom: 40px;
    &__tab{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 50px;
        &:first-child{
            background-color: $green-color;
        }
        &:last-child{
            background-color: $light-gray;
        }
    }
    &__link{
        text-decoration: none;
        color: $white;
        font-size: 20px;
    }
}
.title{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}



.form{
    &__field-wrapper{
        position: relative;
    }
    &__label{
        position: absolute;
        top: 5px;
        left: 10px;
        color: $light-gray;
        transition: all 0.2s ease 0s;
    }
    /*
     &__input:focus-within + &__label{
        display: none;
    }
    */
     &__input:focus + &__label{
        transform: translateY(25px);
        font-size: 14px;
        &__green{
            display: none;
        }
    }
    
    &__input:not(:placeholder-shown) + &__label{
        display: none;
    }
    &__input{
        outline: none;
        border: none;

        border: 1px solid $white;

    }
    &__input:focus{
border: 1px solid $green-color;
        //outline: 1px solid $green-color;
    }
}


.green{
    color: $green-color;
}

.names{
    display: flex;
    gap: 20px;
}