table,
td {
    border: 2px solid #0d0f13;
    border-collapse: collapse;
}

td {
    padding: 20px;
}

.blue {
    color: #1c5775;
}

.red {
    color: #ec697e;
}

.light-gray td {
    background-color: #344055;
}

.dark-gray td {
    background-color: #2f374a;
}

td:hover {
    background-color: #FFF842;
    color: #403E10;
}